*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenitor{
    width: 800px;
    margin: auto;
}

.pattern{
    
    height: 90px;
    background-image: url("./IMG/pattern.png");
    background-repeat: repeat-x;
    background-size:contain;
    background-color: #4D9CF8;

}
 .pattern img{
    height: 40px;
    margin-top:40px;
    margin-left: 10px; 
}

.the-booleaner{
    color:#4D9CF8;
}

.main-heading{
    margin-left:5px;
}
h4, h6{
    color:#808080
}

.tim-photo{
    margin-left: 5px;;
    margin-top: 20px;
}
.tim1{
    height: 313.33px;
    width: 54%;
    
    
}
.tim2{
    height: 313.33px;
    width: 45%;
   
}